@import "src/app/shared/styles/variables";


hr{
  margin-bottom: -14px;
  margin-top: 55px;
}

img{
  margin-right: -500px;
  margin-top: -40px;
}

.text-right{
  position: absolute;
  top: 52px;
  right: 266px;
}

.enviar-comunicado-titulo{
  height: 27px;
  width: 187px;
  color: $color-marine-blue-two;
  font-family: $font-open-sans;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 67px;
  margin-left: 40px;
  padding-top: 10px;
}

.titulo-panel{
  margin-top: -32px;
}

:host {

  .panel-aviso-modal-mensagem {
    padding: 10px;
    margin-bottom: 30px;
    color: $color-marine-blue-two;
    margin-top: 32px;

    .enviar-comunicado {
      text-align: left;
    }
    .enviar-comunicado-destinatario {
      text-align: left;
      margin-left: -15px;
      font-size: 20px;
      color: #282E3A;
    }

    .identificador-radio{

      font-weight: normal;
      position: relative;
      bottom: 2px 0px;
    }

    .k-radio-label {
      font-weight: normal;
      margin-top: 20px;

      span{
        margin-left: 10px;
        font-weight: normal;
        position: relative;
        bottom: 2px 0px;
      }
    }
    .icone-importante {
      font-size: 24px;
      color: $color-grey-border-alt ;
      margin-bottom: 10px;
      margin-top: 10px;
      color: #282E3A;


    }

    .painel-alerta {

      padding: 10px 30px;
      background-color: rgba(0, 75, 173, .06);
      margin-bottom: 30px;
      margin-right: 113px;
      font-size: 16px;
      margin-left: 13px;

      .spn-alerta{
        opacity: 100%;
        color:$color-gunmetal-rey;
      }

      span-icone {
        font-size: 20px;
      }
    }

    .opcoes {
      padding-top: 11px;

      .lbl-op{
        padding-right: 10px;
        display: flex;
        margin-bottom: 10px;
      }

      label.lbl-op {
        font-weight: unset;
        padding-left: 12px;
    }

    .col-xs-12.opcao.margin-bottom-20 {
      align-items: unset;
  }

      .opcao{
        display: flex;
        align-items: unset;
      }

      input[type="radio"] {
        margin-right: 10px;
        width: 17px;
        height: 19px;
        border: 1px solid darkgray;
        border-radius: 50%;
        cursor: pointer;
        padding-left: 9px;
      }

      input[type="radio"]:before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        border-radius: 33px;
        padding-left: 1px !important;

      }
      input[type="radio"]:checked:before {
        border: 6px solid $color-peacock-blue;
        background-color: $color-white;
      }



    }
.k-radio-label{
  font-weight: normal;

      span {
        margin-left: 10px;
        font-weight: normal;
        position: relative;
        bottom: 2px;
      }

}
    .btn-cancelar {
      background: $color-white;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      height: 48px;
      text-align: center;
      border: 1px solid $color-backoffice;
      color: $color-backoffice;
      border-radius: 3px;
      margin-right: 12px;
      padding: 13px 66px;
      margin-top: 40px;
      vertical-align: top;
      float: right;

      @media(max-width: $screen-sm-max) {
        margin-bottom: 15px;
        padding: 13px 24px;
        margin-right: 0px;
        width: 100%;
        float: left;
      }
    }

    .btn-confirmar {
      background: $color-backoffice;
      color: $color-white;
      font-size: 16px;
      font-weight: 600;
      line-height: 16px;
      height: 48px;
      text-align: center;
      border: 1px solid $color-backoffice;
      border-radius: 3px;
      margin-left: 12px;
      padding: 13px 68px;
      margin-top: 40px;
      vertical-align: top;
      float: right;

      @media(max-width: $screen-sm-max) {
        margin-bottom: 15px;
        padding: 13px 24px;
        margin-left: 0px;
        width: 100%;
        float: left;
      }

      .span-icone{
        font-family: $font-open-sans;
        font-size: 16px;

      }
      .form-label{
        font-size: 16px;
      }

    }

    .input-quantidade{
      height: 49px;
      width: 114px;
      border-radius: 3px;
      background-color: #FFFFFF;
      margin-bottom: -4px;
    }

    .painel-quantidade{
      padding: 10px 30px;
      background-color: #F7F7F7 ;
      padding-bottom: 100px;
      height: 111px;
      width: 723px;
      margin-left: -3px;
    }

    .move{
      margin-left: -40px;
    }

  }

}

.botao-fechar {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 30px;
  background: none;
  border: none;
  padding: 0;
}

img {
  width: 16px;
  height: 16px;
}

.modal-header {
  min-height: 75px;
  padding-left: 17px;
  border: none;
}

.panel-border{
  border: none;
}

.alinhar{
  margin-top: -15px;
}
