<div class="modalEnvioComunicado" >
  <div class="no-padding">
      <h2 class="modal-title enviar-comunicado-titulo">Enviar Comunicado</h2>
  </div>
  <hr class="my-2 mt-2">
  <div class="text-right">
    <button class="botao-fechar" type="button" (click)="fechar()">
      <img src="/assets/img/fechar.svg">
    </button>
  </div>
  <div class="modal-header d-flex-center panel-border ">
    <div class="panel-aviso-modal-mensagem col-xs-12">
      <div class="row margin-top-20">
        <div class="col-md-12 enviar-comunicado">
          <form [formGroup]="formComunicado">
            <div class="col-xs-12 margin-bottom-20">
              <div class="col-xs-12 titulo-panel"> <!-- adc func para pegar a qtd de destinatarios-->
                <span class="enviar-comunicado-destinatario">
                  Identificamos o envio da comunicação para destinatários.
                </span>
              </div>
            </div>
            <div>
              <div class="col-xs-12 col-sm-12 col-md-12 margin-bottom-20 opcoes">
                <app-form-group label="Confirme o envio da comunicação*:" class="form-label" [control]="formComunicado.get('enviarParaTodos')" fieldId="enviarParaTodos" >
                  <div class="radio identificador-radio row margin-bottom-20">
                    <div class="col-xs-12 opcao margin-bottom-20">
                    <input  type="radio" [formControl]="formComunicado.get('enviarParaTodos')" name="enviarParaTodos" value="todos" (click)="fechaQuantidade()" class="k-radio" id="todos">
                        <label class="k-radio-label" (click)="fechaQuantidade()" for="todos">
                          <span>
                            Enviar para todos
                          </span>
                      </label>
                    </div>
                    <div class="col-xs-12 opcao alinhar" >
                      <input type="radio" [formControl]="formComunicado.get('enviarParaTodos')" name="enviarParaTodos" value="limite" (click)="alternarExibicao()" class="k-radio" id="limite-info">
                      <label class="k-radio-label" (click)="alternarExibicao()"  for="limite-info">
                        <span>
                          Informar limite
                        </span>
                      </label>
                    </div>
                  </div>
              </app-form-group>
                <div class="painel-quantidade" *ngIf="mostrarQuantidade">
                  <div class="col-md-5 col-xs-6 move">
                    <div class="col-md-11 col-md-8 col-sm-12 ">
                      <app-form-group
                      label="Quantidade"
                      [required]="true"
                      [control]="formComunicado?.get('quantidade')"
                      fieldId="quantidade">
                        <input
                        type="text"
                        maxlength="5"
                        placeholder="1500"
                        [formControl]="formComunicado.get('quantidade')"
                        class="form-control input-quantidade"
                        required>
                      </app-form-group>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="painel-alerta">
        <div class="row">
          <div class="icone-alerta col-md-1 col-sm-1">
            <i class="fa ciee-alert-circle icone-importante"></i>
          </div>
          <div class="col-md-11 col-md-17">
            <span class="spn-alerta">Ao fim deste processo, será enviado um email para colaborador@ciee.ong.br
              <br>confirmando o envio.</span>
          </div>
        </div>
      </div>
      <div class="row margin-top-30">
        <div class="col-md-12 text-center">
          <button class="btn-confirmar" aria-label="Confirmar" type="submit" (click)=" mensagemEnviar()">
            Confirmar
          </button>
          <button class="btn-cancelar" type="button" aria-label="Cancelar" data-dismiss="modal" (click)="fechar()" >
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




