@import 'src/app/shared/styles/variables';

:host {
  .form-group {
    margin-top: 20px;
  }

  .line {
    box-sizing: border-box;
    height: 2px;
    border: 1px solid $color-ghost;
    width: 101%;
    margin-left: -8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: table;
  }

  .grid-list {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .row-detalhe {
    display: flex;
    color: $color-marine-blue-two;

    strong {
      font-weight: 600;
    }

    .col-detalhe-md-4,
    .col-detalhe-md-2 {
      padding: 0 10px;
    }

    .col-detalhe-md-4 {
      flex-grow: 2;
    }

    .col-detalhe-md-2 {
      flex: 1 0 auto;
      text-align: right;
      color: $color-backoffice;
      text-decoration: underline;
      cursor: pointer;
    }

    @media(max-width: $screen-xs-max) {
      flex-direction: column;

      .col-detalhe-md-4,
      .col-detalhe-md-2 {
        padding-bottom: 5px;
        text-align-last: left;
      }
    }
  }

  .tela-tamanho-minimo {
    min-height: 1200px;

    @media(max-width: $screen-xs-max) {
      min-height: 1300px;
    }
  }


  .input-form-search {
    border: 1px solid $color-white;
    border-radius: 3px;
    background-color: $color-white;
    padding: 20px;
    margin: -8px;
    width: 110%;
  }

  .div-tag-box {
    float: left;
  }

  .tag-box {
    position: relative;
    margin-top: -10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    span {
      background-color: $color-backoffice;
      border-radius: 15px;
      padding: 3px 4px 5px 10px;
      color: $color-white;
      font-family: $font-open-sans;
      font-size: 15px;
      line-height: 16px;
      text-align: center;
      margin: 5px;

      button {
        background-color: $color-white;
        border: none;
        min-width: 15px;
        min-height: 15px;
        width: 15px;
        height: 15px;
        border-radius: 40px;
        color: $color-backoffice;
        font-stretch: expanded;
        font-weight: bolder;
        margin-left: 5px;
        padding: 0px 0px 16px 1px;
      }

      button:hover {
        cursor: pointer;
      }
    }
  }
  .botao-visualizar-mais {
    border: none;
    background-color: transparent;
    font-size: 18px;
}
}
