@import "src/app/shared/styles/variables";

.box-body{
  padding-bottom: 0px;

  .h1 {
    height: 58px;
    color: $color-information-granite-black;
    font-family: $font-open-sans;
    font-size: 44px;
    font-weight: bold;
    line-height: 59px;
    text-align: left;
  }
}
.btn-enviar{
  background-color: $color-backoffice;
  color: $color-white;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  height: 48px;
  text-align: center;
  border: 1px solid $color-backoffice;
  border-radius: 3px;
  margin-left: 12px;
  padding: 13px 55px;
  vertical-align: top;
  float: right;
  margin-right: 250px;

  @media(max-width: $screen-sm-max) {
    margin-bottom: 15px;
    padding: 13px 24px;
    margin-left: 0px;
    width: 100%;
    float: left;
  }
}

