@charset "UTF-8";

* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

body {

    display: flex;

    align-items: center;

    justify-content: center;

    min-height: 100vh;
}

div#paralelograma {

    background: #e8a330;

    width: 780px;

    height: 680px;

    border-radius: 10px;

    box-shadow: 5px 5px 15px;

    transform: skew(6deg, 3deg);

    position: absolute;

    z-index: -1;
}


section {

    display: flex;

    background-color: #fff;

    padding: 30px 5px;

    border-radius: 10px;

    box-shadow: 5px 5px 15px;

    max-width: 70vw;
}

section h1 {
    padding: 40px 10px;

    text-align: center;
}

fieldset{
    border: none;
}

fieldset:nth-child(2) {
    display: flex;
}

fieldset:nth-child(4) {
    display: flex;

    padding-top: 20px;
}

fieldset:nth-child(5) {
    display: flex;
    width: 100%;
    margin-top: 20px;
    padding: 0 10px;
}

.container input {
    margin: 10px 10px;

    width: calc(100% - 20px);

    height: 70px;

    background-color: #fff;

    border-radius: 8px;

    color: black;

    font-size: 18px;

    font-weight: 700;

    padding: 14px 10px 0 10px;
}

.container {
    position: relative;
}

.container label {
    text-transform: uppercase;

    font-size: 14px;

    font-weight: 700;

    color: #9d9d9d;

    position: absolute;
    
    line-height: 70px;

    top: 10px;

    left: 20px;

    user-select:none;

    pointer-events: none;

    transition: 0.5;
}

#texto {
    margin: 10px 10px;

    width: calc(100% - 20px);

    height: 70px;

    background-color: #fff;

    border-radius: 8px;

    color: black;

    font-size: 18px;

    font-weight: 700;

    padding: 14px 10px 0 10px;
}


.container input:focus ~label,
.container input:focus ~label{
    left: 20px;
    top: -10px;
    color: #00acd7;

}

#check {
    width: 50%;
    text-transform: uppercase;
    font-size: 14px;
    display: flex;
}


#check input {
    width: 25px;

    height: 25px;

    margin: auto 0;
    
}

#check label {
    margin: auto 10px;
    color: #555;
}

#check input:checked ~label,
#check input:textarea ~label {
    color:#00acd7
}

button {

    margin: 40px 0;
    margin-left: 10px;

    width: calc(50% - 10px);
    height: 70px;

    background-color: #e8a330;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3;
}

button:hover {
    opacity: 0.85;
}

section img {
    width: 250px;
    height: 250px;

    margin: auto 40px;
}

@media only screen and (max-width:1000px) {
    div#paralelograma {
        height: 690px;
    }
    section img {
        display: none;
    }
}


@media only screen and (max-width: 510px){
    div#paralelograma {
        display: none;
    }
    section {
        min-width: 95vw;
    }
    form {
        width: 100%;
    }

    fieldset:nth-child(2),
    fieldset:nth-child(4),
    fieldset:nth-child(5) {
        flex-direction: column;
    }
    fieldset:nth-child(4){
        padding: 0px;
    }

    div#check {
        width: 100%;
    }
    button {
        width: 100%;
        margin-left: 0;
    }
}

.btn-alterar {
    text-decoration: none;
}