@import 'src/app/shared/styles/variables';

:host {
    .botao-voltar {
        font-size: 20px;
        color: $color-backoffice;
    
        i {
        vertical-align: middle;
        }
    
        span {
        font-size: 18px;
        line-height: 27px;
        font-weight: 600;
        vertical-align: middle;
        }
    }
    
    .bt-prev{
        text-align: start;
    }
    .bt-next{
        text-align: end;
    }
    .form-group {
        margin-top: 20px;
    }

    .grid-list {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .help-block {
        color: $color-punch;
    }

    .has-error {
        border-color: $color-red;
    }

    .tela-tamanho-minimo {
        min-height: 1200px;

        @media(max-width: $screen-xs-max) {
            min-height: 1300px;
        }
    }

    .k-grid-aria-root {
        overflow-x: auto !important;
    }

    .input-form-search {
        border: 1px solid $color-white;
        border-radius: 3px;
        background-color: $color-white;
        padding: 20px;
        margin: -8px;
        width: 110%;
    }

    .gerenciar-contrato {
        position: absolute;
        right: 15px;
        top: 50px;
    }
}