@import "src/app/shared/styles/variables";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:host {
    font-family: $font-open-sans;

    ::ng-deep {
      app-form-group {
        .form-group {
          label {
            padding: 0px;
            font-weight: 600;
            font-size: 16px;
          }
        }
      }
    }
 }

.tipo{
padding-left: 21px;
margin-top: 32px;
padding-top: 32px;
background-color: rgba(238,239,240,0.53);
}
.envio-lote{
padding-left: 0;
}
input {
  font-size: 16px;
}
textarea {
  font-size:16px;
}