<form [formGroup]="formulario">
  <div class="row tipo">
    <div>
      <div class="col-sm-8 col-md-8 col-xs-8">
        <app-form-group label="Tipo comunicação*" fieldId="email-sms-selector">
        </app-form-group>
        <app-select-material [control]="formulario?.get('emailouSMS')" [opcoes]="emailOusmsopcoes"
          [placeholder]="'Selecione'" class="col-sm-3 col-md-3" [exibeCampoObrigatorio]="true"
          [textoCampoObrigatorio]="'Campo obrigatório'">
        </app-select-material>

          <mat-form-field hintLabel="Maxímo 50 characteres" appearance="fill" class="col-sm-5 col-md-5" *ngIf="formulario?.get('emailouSMS').value === 'E-MAIL'" >
            <input matInput #input maxlength="50" placeholder="Assunto" formControlName="assunto">
            <mat-hint align="end">{{input.value.length}}/50</mat-hint>
            <mat-error *ngIf="exibeMensagemDeErro_email_sms">
              {{exibeMensagemDeErro_email_sms}}
            </mat-error>
          </mat-form-field>

        <mat-form-field hintLabel="Maxímo 50 characteres" appearance="fill" class="col-sm-5 col-md-5" *ngIf="formulario?.get('emailouSMS').value === 'SMS'" >
          <input matInput #input maxlength="50" placeholder="Centro de custo" formControlName="centroCusto">
          <mat-hint align="end">{{input.value.length}}/50</mat-hint>
          <mat-error *ngIf="exibeMensagemDeErro_email_sms">
            {{exibeMensagemDeErro_email_sms}}
          </mat-error>
        </mat-form-field>
      </div>
    </div>


    <!--Inserir o popover de nome social-->
    <div class="col-sm-10 col-md-10 col-xs-10" *ngIf="formulario?.get('emailouSMS').value === 'E-MAIL'">
      <mat-form-field class="col-sm-7 col-md-7" hintLabel="Maxímo 256 characteres">
        <mat-label>Corpo e-mail</mat-label>
        <mat-hint align="end">{{input.value.length}}/256</mat-hint>
        <textarea matInput #input maxlength="256" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="7"
          required formControlName="corpoEmail"></textarea>
        <mat-error *ngIf="exibeMensagemDeErro_descricao_corpoEmail">
          {{exibeMensagemDeErro_descricao_corpoEmail}}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-10 col-md-10 col-xs-10" *ngIf="formulario?.get('emailouSMS').value === 'SMS'">
      <mat-form-field class="col-sm-7 col-md-7" hintLabel="Maxímo 140 characteres">
        <mat-label>Descrição</mat-label>
        <mat-hint align="end">{{input.value.length}}/140</mat-hint>
        <textarea matInput #input maxlength="140" matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="7"
          required formControlName="descricao"></textarea>
        <mat-error *ngIf="exibeMensagemDeErro_descricao_corpoEmail">
          {{exibeMensagemDeErro_descricao_corpoEmail}}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
</form>