<div class="content-header margin-bottom-15">
  <h1>
    Envio de comunicação em lote - Estudantes
  </h1>
</div>
<div class="row">
  <div class="col-md-10 col-sm-12">
    <div class="box box-solid">
      <div class="box-body">
        <app-bloco-escolaridade></app-bloco-escolaridade>
        <app-bloco-busca-estudantes></app-bloco-busca-estudantes>
        <app-bloco-tipo-comunicacao></app-bloco-tipo-comunicacao>
      </div>
    </div>
  </div>
</div>

<button class="btn-enviar" aria-label="Confirmar" type="submit" (click)="mostrarModalEnvio()">
  Enviar
</button>
