@import "src/app/shared/styles/variables";

:host {
  font-family: $font-open-sans;

  .titulo {
    color: $color-downriver;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.07px;
    line-height: 27px;
    padding: 30px 0;
  }

  .borda-inferior {
    border-bottom: 1px solid $color-light-grayish-blue;
  }

  .texto-apoio {
    display: block;
    margin: 5px 0;
    font-size: 14px;
    line-height: 20px;
    color: $color-shark;
  }

  ::ng-deep {
    .configuracao-padrao {
      label {
        margin-right: 120px;
      }
      label ~ div {
        display: inline-block;
      }
    }
  }
}
.caixa-label {
  display: inline-block;
  width: calc(100% - 16px);
}

.mg-caepf {
  margin-top: -3px;
}

.tooltip {
  left: 175px;
  top: 0px;
  textarea {
    width: 100%;
    border: 1px solid;
    border-radius: 3px;
    margin: 0px;
    resize: none;

    &.ng-invalid.ng-touched {
      border: 1px solid
    }
  }
}
::ng-deep {
  .character-counter {
    color: $color-cadet;
    font-size: 14px;
    padding: 0 8px;
    margin-left: 1227px !important;
    border-left: none !important;
  }
}
