:host {
    ::ng-deep {
        .acordeon {
            overflow: initial !important;
            z-index: 100 !important;
        }
    }

    .tooltip {
      &-pp {
        position: absolute;
        top: 0px;
        left: 112px;
      }

      &-aut {
        position: relative;
        bottom: 116px;
        left: 380px;
      }

      &-vul {
        position: relative;
        bottom: 116px;
        left: 450px;
      }
    }

    textarea {
      width: 100%;
      border: 1px solid;
      border-radius: 3px;
      margin: 0px;
      resize: none;

      &.ng-invalid.ng-touched {
        border: 1px solid
      }
    }
}

.atividade {
    height: auto;
}
