        <form [formGroup]="formulario">

          <div class="row escolaridade">
            <div class="col-md-10 col-sm-12">
              <app-form-group
              label="Base*"
              fieldId="bases-selector">
              </app-form-group>
              <app-select-material
                [control]="formulario?.get('basesOptions')"
                class="envio-lote col-md-5 col-sm-5"
                [opcoes]="basesOptions"
                [placeholder]="'Selecione a base'"
                [floatPlaceHolder]="'never'"
                exibeCampoObrigatorio="true">
              </app-select-material>
            </div>
            <div class="col-md-10 col-sm-12">
              <app-form-group
                label="Nível de ensino*"
                fieldId="nivel-selector">
              </app-form-group>
              <app-multi-select-material
                [control]="formulario?.get('nivelList')"
                class="envio-lote col-md-5 col-sm-5"
                [opcoes]="nivelList"
                [placeholder]="'Selecione o nível de ensino'"
                [floatPlaceHolder]="'never'"
                exibeCampoObrigatorio="true">
              </app-multi-select-material>
            </div>
            <div class="col-md-10 col-sm-12">
              <app-form-group label="Curso*" fieldId="cursos-selector">
              </app-form-group>
              <app-multi-select-material
                [control]="formulario?.get('courseOptions')"
                class="envio-lote col-md-10 col-sm-12"
                [opcoes]="courseOptions"
                [singleSelect]="false"
                [placeholder]="'Selecione o nome do curso'"
                [floatPlaceHolder]="'never'"
                [filterControl]="filtroCursosControl">
              </app-multi-select-material>
            </div>
              <div class="col-md-10 col-sm-12 tipo">
                <div class="col-md-3 col-sm-3 col-xs-4">
                  <app-form-group
                  label="Tipo período*"
                  fieldId="tipo-selector">
                  </app-form-group>
                  <app-select-material
                  [control]="formulario?.get('courseDurationTypeOptions')"
                  class="envio-lote"
                  [opcoes]="courseDurationTypeOptions"
                  [placeholder]="'Selecione'"
                  [floatPlaceHolder]="'never'">
                  </app-select-material>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-4">
                  <div *ngIf="formulario?.get('courseDurationTypeOptions').value === 'A'">
                    <app-form-group
                      label="Anos/Semestre*"
                      fieldId="anos-selector"
                      exibeCampoObrigatorio="true">
                    </app-form-group>
                    <app-multi-select-material
                      [control]="formulario?.get('anosList')"
                      class="envio-lote col-md-12 col-sm-12 col-xs-12"
                      [opcoes]="anosList"
                      [placeholder]="'Selecione o ano'"
                      [floatPlaceHolder]="'never'"
                      exibeCampoObrigatorio="true"
                      ></app-multi-select-material>
                  </div>
                  <div *ngIf="formulario?.get('courseDurationTypeOptions').value === 'S'">
                    <app-form-group
                      label="Anos/Semestre*"
                      fieldId="semestre-selector">
                    </app-form-group>
                    <app-multi-select-material
                      [control]="formulario?.get('semestreList')"
                      class="envio-lote col-md-12 col-sm-12 col-xs-12"
                      [opcoes]="semestreList"
                      [placeholder]="'Selecione o semestre'"
                      exibeCampoObrigatorio="true"
                      [floatPlaceHolder]="'never'">
                    </app-multi-select-material>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                  <app-form-group
                  label="Horário de aula"
                  fieldId="horario-selector">
                  </app-form-group>
                  <app-select-material
                    [control]="formulario?.get('horarioAulaOptions')"
                    class="envio-lote"
                    exibeCampoObrigatorio="true"
                    [opcoes]="horarioAulaOptions"
                    [placeholder]="'Selecione o horário'"
                    [floatPlaceHolder]="'never'">
                  </app-select-material>
                </div>
              </div>
          </div>
        </form>
