<app-crud-box
  *ngIf="form"
  [(editMode)]="editMode"
  [errorMessage]="errorMessage"
  [form]="form"
  header="Locais de Contrato"
  [isSaving]="isSaving"
  [(showErrorMessage)]="showErrorMessage"
  [(showSuccessMessage)]="showSuccessMessage"
  (cancel)="onCancel()"
  (confirm)="onConfirm()"
>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <app-form-group
        [control]="form.get('companyPersonType')"
        fieldId="company-contract-place-company-person-type"
        label="Empresa jurídica ou PF / PL *"
      >
        <app-radio-buttons
          [formControl]="form.get('companyPersonType')"
          name="company-contract-place-company-person-type"
          [options]="companyTypeOptions"
        ></app-radio-buttons>
      </app-form-group>
    </div>
    <ng-container *ngIf="form.get('companyPersonType').value === 'LEGAL_ENTITY'">
      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('cnpj')"
          fieldId="company-contract-place-cnpj"
          label="CNPJ *"
        >
          <div>
            <app-cnpj-base-field
              [formControl]="form.get('cnpjBase')"
              fieldId="company-contract-place-cnpj"
              [readonly]="!editMode"
              type="text"
              (cnpjBaseDigitado)="procuraDadosParticipante($event)"
            ></app-cnpj-base-field>
            <app-cnpj-complement-field
              [formControl]="form.get('cnpjComplement')"
              fieldId="company-contract-place-cnpj-complement"
              [readonly]="!editMode"
              type="text"
            ></app-cnpj-complement-field>
          </div>
        </app-form-group>
      </div>
    </ng-container>
    <ng-container *ngIf="form.get('companyPersonType').value === 'INDEPENDENT_PROFESSIONAL'">
      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('cpf')"
          fieldId="company-contract-place-cpf"
          label="CPF *"
        >
          <app-cpf-field
            [formControl]="form.get('cpf')"
            fieldId="company-contract-place-cpf"
            [readonly]="!editMode"
            type="text"
            (cpfDigitado)="procuraDadosParticipante($event)"
          ></app-cpf-field>
        </app-form-group>
      </div>
    </ng-container>
  </div>

  <ng-container *ngIf="form.get('companyPersonType').value === 'LEGAL_ENTITY'">
    <div class="row">
      <div class="col-xs-12">
        <app-form-group
          [control]="form.get('companyName')"
          fieldId="company-contract-place-company-name"
          label="Razão social *"
        >
          <input
            appTrim
            class="form-control"
            [formControl]="form.get('companyName')"
            id="company-contract-place-company-name"
            [maxlength]="companyNameMaxlength"
            [readonly]="!editMode"
            type="text"
          />
        </app-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <app-form-group
          [control]="form.get('tradingName')"
          fieldId="company-contract-place-trading-name"
          label="Nome fantasia"
        >
          <input
            appTrim
            class="form-control"
            [formControl]="form.get('tradingName')"
            id="company-contract-place-trading-name"
            [maxlength]="tradingNameMaxlength"
            [readonly]="!editMode"
            type="text"
          />
        </app-form-group>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('activity')"
          fieldId="company-contract-place-activity"
          label="Código atividade CIEE"
        >
        <span  class="text-muted">&nbsp;&nbsp;(Informe parte da descrição da atividade CIEE)</span>
          <app-activity-ciee-selector
            #selectorActivityCiee
            [formControl]="form.get('activity')"
            id="company-contract-place-activity"
            [readonly]="!editMode"
          ></app-activity-ciee-selector>
        </app-form-group>
      </div>

      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('companyType')"
          fieldId="company-contract-place-company-type"
          label="Segmento da empresa"
        >
          <app-company-type-selector
            #selectorSegmentoEmpresa
            [formControl]="form.get('companyType')"
            id="company-contract-place-company-type"
            [readonly]="!editMode"
          ></app-company-type-selector>
        </app-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <app-form-group
          [control]="form.get('site')"
          fieldId="company-contract-place-site"
          label="Site da empresa"
        >
          <input
            appTrim
            class="form-control"
            [formControl]="form.get('site')"
            id="company-contract-place-site"
            [maxlength]="siteMaxlength"
            [readonly]="!editMode"
            type="text"
          />
        </app-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('stateInscription')"
          fieldId="company-contract-place-state-incription"
          label="Inscrição estadual"
        >
          <input
            appOnlyNumber
            appTrim
            class="form-control"
            [formControl]="form.get('stateInscription')"
            id="company-contract-place-state-inscription"
            [maxlength]="stateInscriptionMaxlength"
            [readonly]="!editMode"
            type="text"
          />
        </app-form-group>
      </div>

      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('municipalInscription')"
          fieldId="company-contract-place-municipal-inscription"
          label="Inscrição municipal"
        >
          <input
            appOnlyNumber
            appTrim
            class="form-control"
            [formControl]="form.get('municipalInscription')"
            id="company-contract-place-municipal-inscription"
            [maxlength]="municipalInscriptionMaxlength"
            [readonly]="!editMode"
            type="text"
          />
        </app-form-group>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="form.get('companyPersonType').value === 'INDEPENDENT_PROFESSIONAL'">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('cei')"
          fieldId="company-contract-place-cei"
          [label]="defineCEIObrigatorio"
        >
          <input
            appOnlyNumber
            appTrim
            class="form-control"
            [formControl]="form.get('cei')"
            id="company-contract-place-cei"
            [maxlength]="ceiMaxlength"
            [readonly]="!editMode"
            type="text"
          />
        </app-form-group>
      </div>

      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('birthDate')"
          fieldId="company-contract-place-birthDate"
          label="Data de nascimento *"
        >
          <app-datepicker
            #datePickerDataNascimento
            [formControl]="form.get('birthDate')"
            id="company-contract-place-date"
            [readonly]="!editMode"
          ></app-datepicker>
        </app-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-12">
        <app-form-group
          [control]="form.get('name')"
          fieldId="company-contract-place-name"
          label="Nome *"
        >
          <input
            appTrim
            class="form-control"
            [formControl]="form.get('name')"
            id="company-contract-place-name"
            [maxlength]="nameMaxlength"
            [readonly]="!editMode"
            type="text"
          />
        </app-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('isClassCouncilActive')"
          [label]="labelObrigatorio('Conselho de Classe está ativo?')"
        >
          <app-boolean-radio-buttons
            #conselhoClasseAtivo
            [formControl]="form.get('isClassCouncilActive')"
            name="company-pl-header-crud-box-is-class-council-active"
            [readonly]="!editMode"
          ></app-boolean-radio-buttons>
        </app-form-group>
      </div>

      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('classCouncil')"
          fieldId="company-pl-header-crud-box-class-council"
          [label]="labelObrigatorio('Conselho de Classe') "
        >
          <app-class-council-selector
            #selectorConselhoClasse
            [formControl]="form.get('classCouncil')"
            id="company-pl-header-crud-box-class-council"
            [readonly]="!editMode"
            valueType="model"
          ></app-class-council-selector>
        </app-form-group>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('councilNumber')"
          fieldId="company-pl-header-crud-box-council-number"
          [label]="labelObrigatorio('Número do egistro do conselho')"
        >
          <input
            appTrim
            class="form-control"
            [formControl]="form.get('councilNumber')"
            id="company-pl-header-crud-box-council-number"
            [readonly]="!editMode"
            type="text"
            [maxLength]="councilNumberMaxlength"
          />
        </app-form-group>
      </div>

      <div class="col-xs-12 col-md-6">
        <app-form-group
          [control]="form.get('registerValidity')"
          fieldId="company-pl-header-crud-box-register-validity"
          label="Validade do registro"
        >
          <app-datepicker
            #datePickerDataValidade
            [endDate]="registerValidityEndDate"
            [formControl]="form.get('registerValidity')"
            fieldId="company-pl-header-crud-box-register-validity"
            [readonly]="!editMode"
          ></app-datepicker>
        </app-form-group>
      </div>
    </div>
  </ng-container>

  <div class="row">
    <div class="col-xs-12 col-md-3">
      <app-form-group
        [control]="form.get('state')"
        fieldId="company-contract-place-state"
        label="UF"
      >
        <app-state-selector
          [formControl]="form.get('state')"
          fieldId="company-contract-place-state"
          [readonly]="!editMode"
        ></app-state-selector>
      </app-form-group>
    </div>

    <div class="col-xs-12 col-md-3">
      <app-form-group
        [control]="form.get('isDifferentiatedCi')"
        fieldId="company-contract-place-is-differentiated-ci"
        label="CI Diferenciada? *"
      >
        <app-boolean-radio-buttons
          [formControl]="form.get('isDifferentiatedCi')"
          name="company-contract-place-is-differentiated-ci"
          [readonly]="!editMode"
        ></app-boolean-radio-buttons>
      </app-form-group>
    </div>

    <div class="col-xs-12 col-md-3">
      <app-form-group
        *ngIf="form.get('isDifferentiatedCi').value"
        [control]="form.get('amountCi')"
        fieldId="company-contract-place-amount-ci"
        label="Valor da CI *"
      >
        <input
          class="form-control"
          currencyMask
          [formControl]="form.get('amountCi')"
          id="company-contract-place-amount-ci"
          [readonly]="!editMode"
          type="text"
        />
      </app-form-group>
    </div>

    <div class="col-xs-12 col-md-3">
      <app-form-group
        [control]="form.get('isContractAdmin')"
        fieldId="company-contract-place-is-contract-admin"
        label="Administrador do contrato?"
      >
        <app-boolean-radio-buttons
          [formControl]="form.get('isContractAdmin')"
          name="company-contract-place-is-contract-admin"
          [readonly]="!editMode"
        ></app-boolean-radio-buttons>
      </app-form-group>
    </div>
  </div>

</app-crud-box>
