<app-caixa-formulario #caixaFormulario [semBorda]="true" [modoFormulario]="modoFormulario" [carregando]="carregando"
  [editando]="editando" (editandoChange)="editandoChange($event)" [formulario]="form" [erroEmCarregamento]="false"
  [labelCustomizada]="{finalizarCadastro: 'Salvar', cancelarCadastro: 'Cancelar'}" (cancelarCadastroBloco)="buildForm()"
  (cancelarEdicao)="recarregarDados.emit()" (confirmarEdicao)="onConfirm()">

  <ng-template let-somenteLeitura="somenteLeitura" let-formulario="formulario" let-desabilitado="desabilitado">

    <div class="row">
      <div class="col-xs-12 col-md-6">
        <app-form-group [control]="formulario?.get('companyPersonType')"
          fieldId="company-contract-place-company-person-type" label="Empresa jurídica ou PF / PL *">
          <app-radio-buttons [formControl]="formulario?.get('companyPersonType')"
            name="company-contract-place-company-person-type" [options]="companyTypeOptions"></app-radio-buttons>
        </app-form-group>
      </div>
      <ng-container *ngIf="formulario?.get('companyPersonType').value === 'LEGAL_ENTITY'">
        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('cnpj')" fieldId="company-contract-place-cnpj" label="CNPJ *">
            <div>
              <app-cnpj-base-field [formControl]="formulario?.get('cnpjBase')" fieldId="company-contract-place-cnpj"
                [readonly]="somenteLeitura || desabilitado" (cnpjBaseDigitado)="procuraDadosParticipante($event)">
              </app-cnpj-base-field>
              <app-cnpj-complement-field [formControl]="formulario?.get('cnpjComplement')"
                fieldId="company-contract-place-cnpj-complement" [readonly]="somenteLeitura || desabilitado"
                (cnpjComplementoDigitado)="validarComplementoCnpj($event)">
              </app-cnpj-complement-field>
            </div>
          </app-form-group>
        </div>
      </ng-container>
      <ng-container *ngIf="formulario?.get('companyPersonType').value === 'INDEPENDENT_PROFESSIONAL'">
        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('cpf')" fieldId="company-contract-place-cpf" label="CPF *">
            <app-cpf-field [formControl]="formulario?.get('cpf')" id="company-contract-place-cpf"
              [readonly]="somenteLeitura || desabilitado" type="text" (cpfDigitado)="procuraDadosParticipante($event)">
            </app-cpf-field>
          </app-form-group>
        </div>
      </ng-container>
    </div>

    <ng-container *ngIf="formulario?.get('companyPersonType').value === 'LEGAL_ENTITY'">
      <div class="row">
        <div class="col-xs-12">
          <app-form-group [control]="formulario?.get('companyName')" fieldId="company-contract-place-company-name"
            label="Razão social *">
            <input appTrim class="form-control" [formControl]="formulario?.get('companyName')"
              id="company-contract-place-company-name" [maxlength]="companyNameMaxlength"
              [readonly]="somenteLeitura || desabilitado" type="text" />
          </app-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <app-form-group [control]="formulario?.get('tradingName')" fieldId="company-contract-place-trading-name"
            label="Nome fantasia">
            <input appTrim class="form-control" [formControl]="formulario?.get('tradingName')"
              id="company-contract-place-trading-name" [maxlength]="tradingNameMaxlength"
              [readonly]="somenteLeitura || desabilitado" type="text" />
          </app-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <app-form-group [control]="formulario?.get('descricaoLocal')" fieldId="company-contract-place-descricao-local"
            label="Descrição do Local"
            [characterCounter]="150">
            <input appTrim class="form-control" [formControl]="formulario?.get('descricaoLocal')"
              id="company-contract-place-descricao-local" [maxlength]="descricaoMaxlength"
              [readonly]="somenteLeitura || desabilitado" type="text" />
          </app-form-group>
          <app-tooltip-informativa class="tooltip" [iniciarAberta]="false" [posicionamento]="'right'">
              <p>
                Este campo será utilizado para identificação do local contrato empresa apenas para fins informativos.
              </p>
            </app-tooltip-informativa>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('activity')" fieldId="company-contract-place-activity"
            label="Código atividade CIEE">
            <span class="text-muted">&nbsp;&nbsp;(Informe parte da descrição da atividade CIEE)</span>
            <app-activity-ciee-selector #selectorActivityCiee [formControl]="formulario?.get('activity')"
              id="company-contract-place-activity" [readonly]="somenteLeitura || desabilitado"
              [initilizeSelectWithData]="true">
            </app-activity-ciee-selector>
          </app-form-group>
        </div>

        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('companyType')" fieldId="company-contract-place-company-type"
            label="Segmento da empresa">
            <app-company-type-selector #selectorSegmentoEmpresa [formControl]="formulario?.get('companyType')"
              id="company-contract-place-company-type" [readonly]="somenteLeitura || desabilitado">
            </app-company-type-selector>
          </app-form-group>
        </div>
      </div>

        <div class="row">

          <div class="col-xs-12 col-md-6">
            <app-form-group [control]="formulario?.get('companyPorte')" fieldId="company-contract-place-company-porte"
              label="Porte da empresa">
              <app-company-porte-selector #selectorPorteEmpresa [formControl]="formulario?.get('companyPorte')"
                id="company-contract-place-company-porte" [readonly]="somenteLeitura || desabilitado">
              </app-company-porte-selector>
            </app-form-group>
          </div>

          <div class="col-xs-12 col-md-6">
            <app-form-group [control]="formulario?.get('site')" fieldId="company-contract-place-site"
            label="Site da empresa">
            <input appTrim class="form-control" [formControl]="formulario?.get('site')" id="company-contract-place-site"
              [maxlength]="siteMaxlength" [readonly]="somenteLeitura || desabilitado" type="text" />
          </app-form-group>
          </div>
        </div>

      <div class="row">

        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('stateInscription')"
          fieldId="company-contract-place-state-incription" label="Inscrição estadual">
          <input appOnlyNumber appTrim class="form-control" [formControl]="formulario?.get('stateInscription')"
            id="company-contract-place-state-inscription" [maxlength]="stateInscriptionMaxlength"
            [readonly]="somenteLeitura || desabilitado || form?.get('freeStateInscription').value" type="text" />
        </app-form-group>
        </div>

        <div class="col-xs-12 col-md-6">
          <app-switch-field #inscricaoEstadualIsento [formControl]="form?.get('freeStateInscription')"
            [textoAtivo]="'Sim'" [textoInativo]="'Não'" [titulo]="'Isento de inscrição estadual?'"
            [readonly]="somenteLeitura || desabilitado">
          </app-switch-field>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="formulario?.get('companyPersonType').value === 'INDEPENDENT_PROFESSIONAL'">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="col-xs-12 col-md-8 no-padding">

            <div class="caixa-label col-md-8 no-padding">
                <app-radio-buttons [readonly]="somenteLeitura || desabilitado" [formControl]="formulario?.get('cnoCaepf')"
                  name="company-contract-place-cno-caepf" [options]="documentoCnoCaepfOptions" (checked)="changeCaepfCno($event)"></app-radio-buttons>
            </div>

            <div class="col-md-11 no-padding" *ngIf="showCaepfInput">
              <app-form-group [control]="formulario?.get('caepf')" fieldId="company-contract-place-caepf" [noLabel]="true">
                <input appTrim class="form-control mg-caepf" [formControl]="formulario?.get('caepf')" id="company-contract-place-caepf"
                  [maxlength]="caepfNumberMaxlength" [readonly]="somenteLeitura || desabilitado" type="text" />
              </app-form-group>
            </div>
            <div class="col-md-11 no-padding" *ngIf="showCnoInput">
              <app-form-group [control]="formulario?.get('cno')" fieldId="company-contract-place-cno" [noLabel]="true">
                <input appTrim class="form-control mg-caepf" [formControl]="formulario?.get('cno')" id="company-contract-place-cno"
                  [maxlength]="cnoNumberMaxlength" [readonly]="somenteLeitura || desabilitado" type="text" />
              </app-form-group>
            </div>

          </div>
          <div *ngIf="!this.isNew" class="col-md-4 no-padding">
            <app-form-group [control]="formulario?.get('name')" fieldId="company-contract-place-cei" label="CEI">
              <input appTrim class="form-control" [formControl]="formulario?.get('cei')" id="company-contract-place-cei"
                [maxlength]="nameMaxlength" [readonly]="true" type="text" />
            </app-form-group>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('birthDate')" fieldId="company-contract-place-birthDate"
            label="Data de nascimento *">
            <app-datepicker #datePickerDataNascimento [formControl]="formulario?.get('birthDate')"
              id="company-contract-place-date" [readonly]="somenteLeitura || desabilitado"></app-datepicker>
          </app-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <app-form-group [control]="formulario?.get('name')" fieldId="company-contract-place-name" label="Nome *">
            <input appTrim class="form-control" [formControl]="formulario?.get('name')" id="company-contract-place-name"
              [maxlength]="nameMaxlength" [readonly]="somenteLeitura || desabilitado" type="text" />
          </app-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('isClassCouncilActive')" [label]="labelObrigatorio('Conselho de Classe está ativo?')">
            <app-boolean-radio-buttons #conselhoClasseAtivo [formControl]="formulario?.get('isClassCouncilActive')"
              name="company-pl-header-crud-box-is-class-council-active" [readonly]="somenteLeitura || desabilitado">
            </app-boolean-radio-buttons>
          </app-form-group>
        </div>

        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('classCouncil')" fieldId="company-pl-header-crud-box-class-council"
          [label]="labelObrigatorio('Conselho de Classe')">
            <app-class-council-selector #selectorConselhoClasse [formControl]="formulario?.get('classCouncil')"
              id="company-pl-header-crud-box-class-council" [readonly]="somenteLeitura || desabilitado"
              valueType="model">
            </app-class-council-selector>
          </app-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('councilNumber')"
            fieldId="company-pl-header-crud-box-council-number" [label]="labelObrigatorio('Número do registro do conselho')">
            <input appTrim class="form-control" [formControl]="formulario?.get('councilNumber')"
              id="company-pl-header-crud-box-council-number" [readonly]="somenteLeitura || desabilitado" type="text"
              [maxLength]="councilNumberMaxlength" />
          </app-form-group>
        </div>

        <div class="col-xs-12 col-md-6">
          <app-form-group [control]="formulario?.get('registerValidity')"
            fieldId="company-pl-header-crud-box-register-validity" label="Validade do registro">
            <app-datepicker #datePickerDataValidade [endDate]="registerValidityEndDate"
              [formControl]="formulario?.get('registerValidity')" fieldId="company-pl-header-crud-box-register-validity"
              [readonly]="somenteLeitura || desabilitado"></app-datepicker>
          </app-form-group>
        </div>
      </div>
    </ng-container>

    <div class="row">
      <div class="col-xs-12 col-md-4">
        <app-form-group [control]="formulario?.get('municipalInscription')"
          fieldId="company-contract-place-municipal-inscription" label="Inscrição municipal">
          <input appOnlyNumber appTrim class="form-control" [formControl]="formulario?.get('municipalInscription')"
            id="company-contract-place-municipal-inscription" [maxlength]="municipalInscriptionMaxlength"
            [readonly]="somenteLeitura || desabilitado" type="text" />
        </app-form-group>
      </div>
      <div class="col-xs-12 col-md-2">
        <app-form-group [control]="formulario?.get('state')" fieldId="company-contract-place-state" label="UF">
          <app-state-selector [formControl]="formulario?.get('state')" fieldId="company-contract-place-state"
            [readonly]="somenteLeitura || desabilitado"></app-state-selector>
        </app-form-group>
      </div>

      <div class="col-xs-12 col-md-3">
        <app-form-group [control]="formulario?.get('isDifferentiatedCi')"
          fieldId="company-contract-place-is-differentiated-ci" label="CI Diferenciada? *">
          <app-boolean-radio-buttons [formControl]="formulario?.get('isDifferentiatedCi')"
            name="company-contract-place-is-differentiated-ci" [readonly]="somenteLeitura || desabilitado">
          </app-boolean-radio-buttons>
        </app-form-group>

        <div class="col-xs-12 col-md-3">
          <app-form-group *ngIf="formulario?.get('isDifferentiatedCi').value" [control]="formulario?.get('amountCi')"
            fieldId="company-contract-place-amount-ci" label="Valor da CI *">
            <input class="form-control" currencyMask [formControl]="formulario?.get('amountCi')"
              id="company-contract-place-amount-ci" [readonly]="somenteLeitura || desabilitado" type="number"
              pattern="^\d*(\.\d{0,2})?$" />
          </app-form-group>
        </div>
      </div>
    </div>

  <div class="row">
    <div class="col-xs-5 col-md-6">
      <app-form-group [control]="form.get('carteiraConsultor')" fieldId="company-contract-complementary-data-carteiraConsultor"
        label="Carteira/Consultor de atendimento">
        <kendo-combobox class="form-control atividade" [formControl]="form.get('carteiraConsultor')" [data]="carteiraOpcoes"
        [readonly]="somenteLeitura || desabilitado" [textField]="'label'" [valueField]="'value'" [filterable]="true" [valuePrimitive]="true"
          (filterChange)="buscarCarteiras($event)">
          <kendo-combobox-messages noDataText="Nenhuma item encontrado">
          </kendo-combobox-messages>
        </kendo-combobox>
      </app-form-group>
    </div>


    <div class="col-xs-12 col-md-3">
      <app-form-group [control]="formulario?.get('isContractAdmin')"
        fieldId="company-contract-place-is-contract-admin" label="Administrador do contrato?">
        <app-boolean-radio-buttons [formControl]="formulario?.get('isContractAdmin')"
          name="company-contract-place-is-contract-admin" [readonly]="somenteLeitura || desabilitado">
        </app-boolean-radio-buttons>
      </app-form-group>
    </div>

    <div class="col-xs-12 col-md-3">
      <app-switch-field
        [formControl]="form?.get('jovemTalento')"
        [textoAtivo]="'Sim'"
        [textoInativo]="'Não'"
        [titulo]="'Contratação de jovem talento'"
        [readonly]="somenteLeitura || desabilitado"
        [disabled]="form?.get('jovemTalento')?.disabled"
        (click)="validarPermissaoJovemTalento(!somenteLeitura && !desabilitado)">
      </app-switch-field>
    </div>
  </div>
    <div class="row">

    </div>
    <ng-container *ngIf="!contratoUnificado">
      <div class="row">
        <h2 class="titulo borda-inferior">Vincular a configuração de cobrança</h2>
      </div>
      <div class="row">
        <div class="col-xs-12" [class.borda-inferior]="!formulario?.get('configuracaoPadrao')?.value">
          <app-switch-field class="configuracao-padrao" [formControl]="formulario?.get('configuracaoPadrao')"
            [titulo]="'Assumir configuração de cobrança padrão?'"
            [readonly]="somenteLeitura || desabilitado || localResponsavel" [textoAtivo]="'Sim'" [textoInativo]="'Não'">
          </app-switch-field>
          <span *ngIf="localResponsavel && formulario?.get('configuracaoPadrao')?.value" class="texto-apoio">
            Esse local de contrato é responsável pela configuração padrão
          </span>
        </div>
        <div *ngIf="!formulario?.get('configuracaoPadrao')?.value && !carregandoCheckbox" class="col-xs-12 margin-top-30">
          <app-form-group [control]="formulario?.get('idConfiguracaoCobranca')"
            fieldId="configuracao-cobranca-local-contrato" label="Vincular a configuração existente" [required]="true">
            <span *ngIf="localResponsavel" class="texto-apoio">
              Esse local de contrato é responsável pela configuração que
              está selecionada abaixo
            </span>
            <app-grid [classe]="'grid-padrao margin-top-20'" [dados]="dadosGrid" [page]="pagina"
              [carregando]="carregandoConfiguracoes" (carregarDados)="mudarPaginaGrid($event)"
              [selecionavel]="selecionavel" (selecionarItem)="selecionarConfiguracaoCobranca($event)"
              [linhasSelecionadas]="localSelecionado">
              <kendo-grid-column title="Configurações de cobrança" [media]="BreakpointMedia.MAX_SM" width="100%">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <dl class="celula-responsiva">

                    <dt>Nome da configuração</dt>
                    <dd>{{ dataItem?.nomeConfiguracao }}</dd>

                    <dt>Local responsável</dt>
                    <dd>
                      {{dataItem?.localContratoResponsavel?.nome}}
                      {{dataItem?.localContratoResponsavel?.razaoSocial}}
                    </dd>

                    <dt>Unidade CIEE</dt>
                    <dd>{{ dataItem?.unidadeCiee }}</dd>

                    <dt>Número de locais</dt>
                    <dd>{{ dataItem?.numeroLocaisVinculados }}</dd>

                  </dl>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-checkbox-column *ngIf="!somenteLeitura && !desabilitado && !localResponsavel"
                class="sem-content">
              </kendo-grid-checkbox-column>

              <kendo-grid-column field="cobranca.descricao" title="Nome da configuração" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem?.nomeConfiguracao}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="localContratoResponsavel" title="Local responsável"
                [media]="BreakpointMedia.MIN_MD" [sortable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{dataItem?.localContratoResponsavel?.nome}}
                  {{dataItem?.localContratoResponsavel?.razaoSocial}}
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="unidadeCiee" title="Unidade CIEE" [media]="BreakpointMedia.MIN_MD"
                [sortable]="false">
              </kendo-grid-column>
              <kendo-grid-column field="numeroLocaisVinculados" title="Número de locais" [media]="BreakpointMedia.MIN_MD"
                [sortable]="false">
              </kendo-grid-column>

            </app-grid>
          </app-form-group>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="contratoUnificado">
      <div class="row">
        <h2 class="titulo borda-inferior">Este contrato está unificado, portanto irá usar a configuração de cobrança do contrato unificador</h2>
      </div>
    </ng-container>
  </ng-template>

</app-caixa-formulario>
