.wow {
  width: 100px;
}
body{
  background-color:#ca8c2f;
    background:url('');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
