<app-cabecalho-pagina titulo="Meus contratados" [botaoVoltar]="true" [botaoVoltarPersonalizado]="true"
  (acaoBotaoVoltarEmitter)="voltar()">
</app-cabecalho-pagina>

<div class="row">
  <div class="gerenciar-contrato">
    <app-menu-contexto *ngIf="!empresa" [nomeMenu]="'Menu do local'" [tipoMenuContexto]="'LOCAL_CONTRATO'"
      [idContrato]="contratoId" [idLocal]="localId" (acao)="trataChamadaModal($event)">
    </app-menu-contexto>
  </div>
</div>

<div [ngClass]="{'tela-tamanho-minimo': filtroAbertoFlag}">
  <div class="box">
    <div class="box-body">

      <div class="row">
        <div class="col-md-12 col-xs-12">
          <app-cabecalho-contrato-empresa [mostrarBoxCabecalho]="false" [contratoId]="contratoId" [localId]="localId">
          </app-cabecalho-contrato-empresa>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-sm-12">

          <app-filtro-avancado [placeholder]="'Selecione ao menos um filtro para consulta'" [disabled]="loading"
            aria-label="Formulário para filtragem de contratos" [formGrid]="formGrid" [labels]="labelsFiltro"
            [tagValor]="'label'" [tagValorInterno]="'value'" [fecharForm]="fecharForm"
            [fechaAutomatico]="fechaAutomatico" (filtrarGrid)="filtrar()" (filtroAberto)="filtrarAberto($event)">

            <form [formGroup]="formGrid" autocomplete="off" mobile-view role="search">
              <h1 class="titulo-filtro-avancado">Filtrar por:</h1>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12 col-xs-12">

                    <div class="form-group row row-eq-height">
                      <label for="document-id-contrato-estudante-empresa" class="lbl-form col-md-5 col-xs-12">
                        Contrato
                      </label>
                      <div class="col-md-7 col-xs-12">
                        <input class="form-control" formControlName="idContratoEstudanteEmpresa" placeholder="Digite o id do contrato"
                          aria-label="Digite o id do contrato" id="document-id-contrato-estudante-empresa" type="text" />
                      </div>
                    </div>

                    <div class="form-group row row-eq-height">
                      <label for="document-nome-empresa" class="lbl-form col-md-5 col-xs-12">
                        Nome empresa
                      </label>
                      <div class="col-md-7 col-xs-12">
                        <input class="form-control" formControlName="nomeEmpresa" placeholder="Digite o nome da empresa"
                          aria-label="Nome empresa" id="document-nome-empresa" type="text" />
                      </div>
                    </div>

                    <div class="form-group row row-eq-height">
                      <label for="codigo-estudante-input" class="lbl-form col-md-5 col-xs-12">
                        Código do estudante
                      </label>
                      <div class="col-md-7 col-xs-12">
                        <input appTrim class="form-control" formControlName="codigoEstudante"
                          placeholder="Código do estudante" aria-label="Código do estudante" id="codigo-estudante-input"
                          type="text" />
                      </div>
                    </div>

                    <div class="form-group row row-eq-height">
                      <label for="cpf-estudante-input" class="lbl-form col-md-5 col-xs-12">
                        CPF do estudante
                      </label>

                      <div class="col-md-7 col-xs-12" [class.has-error]="cpfEstudanteErrorMessage">
                        <input class="form-control" formControlName="cpfEstudante"
                          placeholder="Digite o CPF do estudante" aria-label="CPF do estudante" id="cpf-estudante-input"
                          [textMask]="{mask: cpfMask}" type="text" />
                        <span *ngIf="cpfEstudanteErrorMessage" class="help-block">
                          {{ cpfEstudanteErrorMessage }}
                        </span>
                      </div>
                    </div>

                    <div class="form-group row row-eq-height">
                      <label for="nome-estudante-input" class="lbl-form col-md-5 col-xs-12">
                        Nome do estudante
                      </label>

                      <div class="col-md-7 col-xs-12">
                        <input
                          class="form-control"
                          formControlName="nomeEstudante"
                          placeholder="Digite o nome do estudante"
                          aria-label="Nome do estudante"
                          id="nome-estudante-input"
                          type="text" />
                      </div>
                    </div>

                    <div class="form-group row row-eq-height">
                      <label for="dataInicioDe" class="lbl-form col-md-5 col-xs-12">
                        Data inicio de
                      </label>
                      <div class="col-md-7 col-xs-12" [class.has-error]="dataInicioDeErrorMessage">
                        <app-datepicker formControlName="dataInicioDe" fieldId="dataInicioDe" 
                          aria-label="Data início de">
                        </app-datepicker>
                        <span *ngIf="dataInicioDeErrorMessage" class="help-block">
                          {{ dataInicioDeErrorMessage }}
                        </span>
                      </div>
                    </div>

                    <div class="form-group row row-eq-height">
                      <label for="dataInicioAte" class="lbl-form col-md-5 col-xs-12">
                        Data inicio até
                      </label>
                      <div class="col-md-7 col-xs-12" [class.has-error]="dataInicioAteErrorMessage">
                        <app-datepicker formControlName="dataInicioAte" fieldId="dataInicioAte" 
                          aria-label="Data início até"></app-datepicker>
                        <span *ngIf="dataInicioAteErrorMessage" class="help-block">
                          {{ dataInicioAteErrorMessage }}
                        </span>
                      </div>
                    </div>

                    <div class="form-group row row-eq-height">
                      <label for="dataTerminoDe" class="lbl-form col-md-5 col-xs-12">
                        Data término de
                      </label>
                      <div class="col-md-7 col-xs-12" [class.has-error]="dataTerminoDeErrorMessage">
                        <app-datepicker formControlName="dataTerminoDe" fieldId="dataTerminoDe" [endDate]="dataMaxima"
                          aria-label="Data término de">
                        </app-datepicker>
                        <span *ngIf="dataTerminoDeErrorMessage" class="help-block">
                          {{ dataTerminoDeErrorMessage }}
                        </span>
                      </div>
                    </div>

                    <div class="form-group row row-eq-height">
                      <label for="dataTerminoAte" class="lbl-form col-md-5 col-xs-12">
                        Data término até
                      </label>
                      <div class="col-md-7 col-xs-12" [class.has-error]="dataTerminoAteErrorMessage">
                        <app-datepicker formControlName="dataTerminoAte" fieldId="dataTerminoAte" [endDate]="dataMaxima"
                          aria-label="Data término até"></app-datepicker>
                        <span *ngIf="dataTerminoAteErrorMessage" class="help-block">
                          {{ dataTerminoAteErrorMessage }}
                        </span>
                      </div>
                    </div>

                    <div class="form-group row row-eq-height">
                      <label for="document-nome-empresa" class="lbl-form col-md-5 col-xs-12">
                        Autorização de atendimento
                      </label>
                      <div class="col-md-7 col-xs-12">
                        <input appOnlyNumber class="form-control" formControlName="numeroAutorizacao" placeholder="Digite o número de autorização"
                          aria-label="Nome empresa" id="document-nome-empresa" type="text" maxlength="20" />
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </app-filtro-avancado>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 grid-list">
          <kendo-grid [data]="gridData" [sortable]="{ mode: 'single' }" [scrollable]="'none'" [skip]="page.skip"
            [pageSize]="page.size"
            [pageable]="{ buttonCount: 5, previousNext: previousNext, type: 'numeric', pageSizes: true }"
            [selectable]="selectableSettings" [loading]="loading" [sort]="ordenacao" (pageChange)="pageChange($event)"
            (selectionChange)="selecionarContrato($event)" (sortChange)="ordenar($event)" class="grid-ciee grid-padrao">

            <kendo-grid-messages pagerPage="Página" pagerOf="de" pagerItems="itens" pagerItemsPerPage="Itens por página"
              noRecords="Não foram encontrados resultados para a pesquisa realizada.">
            </kendo-grid-messages>

            <kendo-grid-column title="Meus contratados" [media]="BreakpointMedia.MAX_SM">
              <ng-template kendoGridCellTemplate let-dataItem>
                <dl class="celula-responsiva">
                  <dt>N° contrato</dt>
                  <dd>{{ dataItem?.numeroContrato }}</dd>
                  <dt>Nome do estudante</dt>
                  <dd>{{ dataItem?.nomeEstudante }} <i *ngIf="dataItem?.pcd" pcd></i></dd>
                  <dt>CPF do estudante</dt>
                  <dd>{{ dataItem?.cpfEstudante | cpf }}</dd>
                  <dt>Data início</dt>
                  <dd>{{ dataItem?.dataInicio | date: 'dd/MM/yyyy' }}</dd>
                  <dt>Data término</dt>
                  <dd>{{ dataItem?.dataFim | date: 'dd/MM/yyyy' }}</dd>
                  <dt>Data rescisão</dt>
                  <dd>{{ dataItem?.dataRescisao | date: 'dd/MM/yyyy' }}</dd>
                  <dt>Data cancelamento</dt>
                  <dd>{{ dataItem?.dataRescisao | date: 'dd/MM/yyyy' }}</dd>
                  <dt>Situação</dt>
                  <dd>{{ dataItem?.descricaoStatusContrato }}</dd>
                  <dt>Contrato</dt>
                  <dd>
                    <a *ngIf="exibeBotaoDeDownload(dataItem?.tipoAssinatura, dataItem?.idDocumento, dataItem?.descricaoStatusContrato)"
                      class="btn-acao-formulario btn-confirmar left margin-right-5"
                      (click)='downloadContrato(dataItem?.idDocumento, $event)'>
                      <i class="ciee-common-file-download"></i>
                      Download
                    </a>

                    <a *ngIf="exibeBotaoDeEtapasDeAssinatura(dataItem?.tipoAssinatura, dataItem?.chaveAssinaturaEletronica, dataItem?.descricaoStatusContrato)"
                      class="btn-acao-formulario btn-confirmar margin-right-5"
                      (click)='mostrarModalAssinaturaEletronica(dataItem?.chaveAssinaturaEletronica, $event)'>
                      <i class="ciee-common-file-text-edit"></i>
                      Etapas da assinatura
                    </a>

                    <a *ngIf="exibeBotaoVisualizar(dataItem?.tipoContrato, dataItem?.descricaoStatusContrato)"
                      (click)="abrirModalDeListagemTceTa(dataItem?.chaveAssinaturaEletronica, dataItem?.numeroContrato)"
                      class="btn-acao-formulario btn-confirmar left margin-right-5">
                      <i class="ciee-EA87 icone-visualizar"></i>
                      Visualizar
                    </a>
                  </dd>
                  <dt>Declaração Matricula</dt>
                  <dd>
                    <a *ngIf="exibeBotaoDeclaracaoMatricula(dataItem?.statusContrato) && !isEstagio(dataItem?.tipoContrato)"
                      class="btn-acao-formulario btn-confirmar left margin-right-5"
                      (click)="emitirImpressaoDeclaracaoMatricula(dataItem?.numeroContrato)">
                      <i class="ciee-common-file-download"></i>
                      Download
                    </a>
                  </dd>
                  <dt>Calendário</dt>
                  <dd>
                    <a *ngIf="exibirBotaoCalendario(dataItem?.statusContrato, dataItem?.idCalendario) && !isEstagio(dataItem?.tipoContrato)"
                      class="btn-acao-formulario btn-confirmar left margin-right-5"
                      (click)="downloadCalendario(dataItem?.idCalendario)">
                      <i class="ciee-common-file-download"></i>
                      Download
                    </a>
                  </dd>
                </dl>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="cpf" *ngIf="paginaGrid > 0" [media]="BreakpointMedia.MIN_MD" [sortable]="false">
              <ng-template kendoGridHeaderTemplate let-dataItem>
                <div class="botao-voltar bt-prev" *ngIf="paginaGrid > 0">
                  <i tabindex="0" role="button" class="fa ciee-arrow-left margin-right-10 cursor-pointer"
                    [attr.aria-label]="'voltar'" (click)="prev()">
                  </i>
                </div>
              </ng-template>
            </kendo-grid-column>

            <div *ngIf="paginaGrid == 0">

              <kendo-grid-column field="numeroContrato" title="N° contrato" [media]="BreakpointMedia.MIN_MD">
              </kendo-grid-column>

              <kendo-grid-column field="nomeEstudante" title="Nome do estudante" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.nomeEstudante }} <i *ngIf="dataItem?.pcd" pcd></i>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="cpfEstudante" title="CPF do estudante" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.cpfEstudante | cpf }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="dataInicio" title="Data início" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.dataInicio | date: 'dd/MM/yyyy' }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="dataFim" title="Data término" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.dataFim | date: 'dd/MM/yyyy' }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="dataRescisao" title="Data rescisão" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.dataRescisao | date: 'dd/MM/yyyy' }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="dataCancelamento" title="Data cancelamento" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.dataCancelamento | date: 'dd/MM/yyyy' }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="situacao" title="Situação" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.descricaoStatusContrato }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="tipoAssinatura" title="Contrato" [media]="BreakpointMedia.MIN_MD"
                [sortable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <a *ngIf="exibeBotaoDeDownload(dataItem?.tipoAssinatura, dataItem?.idDocumento, dataItem?.descricaoStatusContrato)"
                    class="btn-acao-formulario btn-confirmar left margin-right-5"
                    (click)='downloadContrato(dataItem?.idDocumento, $event)'>
                    <i class="ciee-common-file-download"></i>
                    Download
                  </a>

                  <a *ngIf="exibeBotaoDeEtapasDeAssinatura(dataItem?.tipoAssinatura, dataItem?.chaveAssinaturaEletronica, dataItem?.descricaoStatusContrato)"
                    class="btn-acao-formulario btn-confirmar margin-right-5"
                    (click)='mostrarModalAssinaturaEletronica(dataItem?.chaveAssinaturaEletronica, $event)'>
                    <i class="ciee-common-file-text-edit"></i>
                    Etapas da assinatura
                  </a>

                  <a *ngIf="exibeBotaoVisualizar(dataItem?.tipoContrato, dataItem?.descricaoStatusContrato)"
                    (click)="abrirModalDeListagemTceTa(dataItem?.chaveAssinaturaEletronica, dataItem?.numeroContrato)"
                    class="btn-acao-formulario btn-confirmar left margin-right-5">
                    <i class="ciee-EA87 icone-visualizar"></i>
                    Visualizar
                  </a>

                </ng-template>
              </kendo-grid-column>
            </div>

            <div *ngIf="paginaGrid == 1">

              <kendo-grid-column field="dataInicio" title="Data início" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.dataInicio | date: 'dd/MM/yyyy' }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="dataFim" title="Data término" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.dataFim | date: 'dd/MM/yyyy' }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="dataRescisao" title="Data rescisão" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.dataRescisao | date: 'dd/MM/yyyy' }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="dataCancelamento" title="Data cancelamento" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                  {{ dataItem?.dataCancelamento | date: 'dd/MM/yyyy' }}
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="tipoAssinatura" title="Contrato" [media]="BreakpointMedia.MIN_MD"
                [sortable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <a *ngIf="exibeBotaoDeDownload(dataItem?.tipoAssinatura, dataItem?.idDocumento, dataItem?.descricaoStatusContrato)"
                    class="btn-acao-formulario btn-confirmar left margin-right-5"
                    (click)='downloadContrato(dataItem?.idDocumento, $event)'>
                    <i class="ciee-common-file-download"></i>
                    Download
                  </a>

                  <a *ngIf="exibeBotaoDeEtapasDeAssinatura(dataItem?.tipoAssinatura, dataItem?.chaveAssinaturaEletronica, dataItem?.descricaoStatusContrato)"
                    class="btn-acao-formulario btn-confirmar margin-right-5"
                    (click)='mostrarModalAssinaturaEletronica(dataItem?.chaveAssinaturaEletronica, $event)'>
                    <i class="ciee-common-file-text-edit"></i>
                    Etapas da assinatura
                  </a>

                  <a *ngIf="exibeBotaoVisualizar(dataItem?.tipoContrato, dataItem?.descricaoStatusContrato)"
                    (click)="abrirModalDeListagemTceTa(dataItem?.chaveAssinaturaEletronica, dataItem?.numeroContrato)"
                    class="btn-acao-formulario btn-confirmar left margin-right-5">
                    <i class="ciee-EA87 icone-visualizar"></i>
                    Visualizar
                  </a>

                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="tipoAssinatura" title="Declaração Matricula" [media]="BreakpointMedia.MIN_MD"
                [sortable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <a *ngIf="exibeBotaoDeclaracaoMatricula(dataItem?.statusContrato) && !isEstagio(dataItem?.tipoContrato)"
                    class="btn-acao-formulario btn-confirmar left margin-right-5"
                    (click)='emitirImpressaoDeclaracaoMatricula(dataItem?.numeroContrato)'>
                    <i class="ciee-common-file-download"></i>
                    Download
                  </a>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="tipoAssinatura" title="Calendário" [media]="BreakpointMedia.MIN_MD"
                [sortable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <a *ngIf="exibirBotaoCalendario(dataItem?.statusContrato, dataItem?.idCalendario) && !isEstagio(dataItem?.tipoContrato)"
                    class="btn-acao-formulario btn-confirmar left margin-right-5"
                    (click)='downloadCalendario(dataItem?.idCalendario)'>
                    <i class="ciee-common-file-download"></i>
                    Download
                  </a>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="unidadeCiee" title="Estágio de autônomo" [media]="BreakpointMedia.MIN_MD">
              </kendo-grid-column>

              <kendo-grid-column field="numeroAutorizacao" title="Autorização de atendimento" [media]="BreakpointMedia.MIN_MD" [sortable]="false">
              </kendo-grid-column>
            </div>
            <kendo-grid-column field="cpf" title="CNPJ/CPF" *ngIf="paginaGrid < 1" [width]="20" [media]="BreakpointMedia.MIN_MD" [sortable]="false">
              <ng-template kendoGridHeaderTemplate let-dataItem>
                <div class="botao-voltar bt-next" >
                  <i tabindex="0" role="button" class="fa ciee-arrow-right cursor-pointer" [attr.aria-label]="'voltar'"
                    (click)="next()">
                  </i>
                </div>
              </ng-template>
            </kendo-grid-column>


            <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
              <kendo-pager-page-sizes [pageSizes]="[5, 10, 15, 20]"></kendo-pager-page-sizes>
              <kendo-pager-info></kendo-pager-info>
              <span class="paginaAtualTotal">{{ page.viewPageNumber }} de {{page.totalPages}}
                página(s)</span>
              <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
              <input type="text" class="selecionar-pagina" [(ngModel)]="page.viewPageNumber"
                (blur)="onBlur(currentPage)" width="40px " maxlength="4" />
              <kendo-pager-next-buttons></kendo-pager-next-buttons>
            </ng-template>
          </kendo-grid>
        </div>
      </div>
    </div>
  </div>
</div>

