@import 'src/app/shared/styles/variables';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


:host {
  font-family: $font-open-sans;

  ::ng-deep {
    app-form-group {
      .form-group {
        label {
          padding: 0px;
          font-weight: 600;
          font-size: 16px;
        }
      }
    }
  }

  .mat-select-panel {
    z-index: 9999;
    justify-content: flex-start !important;
    position: absolute;
    top: 32px;
    left: 4px;
    min-width: calc(100% + 22px) !important;
    border-radius: 0px !important;
    border: 1px solid blue;
    border-top-style: none;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-start {
    border-radius: 0px !important;
    border: 1px solid blue !important;
    border-right-style: none !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline-end {
    border-radius: 0px !important;
    border: 1px solid blue !important;
    border-left-style: none !important;
  }
}

.envio-lote ::ng-deep {
  font-size: 16px;
  font-family: $font-open-sans;

  .mat-select-panel ng-animating {
    z-index: 9999;
    justify-content: flex-start !important;
    visibility: hidden;
  }
  .mat-form-field-placeholder {
    color: $color-midnight-blue-2;
    font-weight: 600;
  }
  .mat-focused .mat-form-field-placeholder {
    color: $color-midnight-blue-2;
    font-weight: 600;
  }
  .mat-form-field-underline .mat-form-field-ripple {
    background-color: $color-blue-bell;
  }
  .mat-form-field-underline {
    background-color: $color-blue-bell;
  }
  .mat-form-field-infix {
    position: relative;
    flex: auto;
    min-width: 0;
    width: 230px;
  }

  .camposEstadoMunicipioUnidade .form-group {
    margin-top: 25px !important;
    margin-bottom: 0px !important;
  }

  .camposDeAte {
    margin-top: 40px !important;
    .mat-form-field-placeholder{
      font-size: 20px;
    }
  }

  .error-message {
    color: red;
    font-size: 12px;
  }
}

.box-body {
  display: flexbox;

  .div-estado {
    background-color: rgba(238,239,240,0.53) !important;
    height: 140px; width: 1193px !important;
  }

  .div-cep {
    background-color: rgba(238,239,240,0.53);
    height: 140px; width: 1193px;
  }
}

.mat-options {
  justify-content: flex-start;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #004BAD !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #004BAD!important;
}

::ng-deep.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
 border-color:#004BAD!important;
}

.camposEstadoCep {
  margin-left: 10px;
  margin-right: 10px;
}
.busca{
  padding-left: 21px;
  margin-top: 32px;
}
