        <form [formGroup]="formulario">

          <div class="row busca">
            <div class="col-md-12 col-sm-12" [formGroup]="formulario">
              <app-form-group label="Buscar estudante por:" fieldId="bases-selector"></app-form-group>
              <div>
                <app-radio-button-material class="envio-lote col-md-5 col-sm-5"
                  [opcoes]="opcaoEstadoCep"
                  [control]="formulario?.get('opcaoEstadoCep')"
                  (change)="onChange($event)">
                </app-radio-button-material>

                <div class="camposEstadoCep" *ngIf="formulario?.get('opcaoEstadoCep').value === 'UF'">

                  <button class="btn btn-link pull-right" type="button" (click)="cleanFilters(['mostrarEstado', 'opcaoEstadoCep'])"
                    *ngIf="formulario?.get('mostrarEstado').value">
                    Limpar
                  </button>

                  <div class="div-estado col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3">
                      <app-form-group class="camposEstadoMunicipioUnidade" label="Estado*" fieldId="envio-lote"></app-form-group>
                      <app-select-material
                        [control]="formulario?.get('mostrarEstado')"
                        [opcoes]="todosOsEstados"
                        [placeholder]="'Selecione o estado'"
                        [textoCampoObrigatorio]="'Campo obrigatório'"
                        [exibeCampoObrigatorio]="true">
                      </app-select-material>
                    </div>

                    <div class="col-md-3 col-sm-3">
                      <app-form-group class="camposEstadoMunicipioUnidade" label="Município" fieldId="envio-lote"></app-form-group>
                      <app-multi-select-material
                        [singleSelect]="false"
                        [opcoes]="listaCidades"
                        [placeholder]="'Selecione o município'"
                        [control]="formulario?.get('mostrarCidade')"
                        [filterControl]="filtroCidadesControl">
                      </app-multi-select-material>
                    </div>
                  </div>
                </div>

                <div class="camposEstadoCep" *ngIf="formulario?.get('opcaoEstadoCep').value === 'CEP'">

                  <button class="btn btn-link pull-right" type="button" (click)="cleanFilters(['cepDe','cepAte', 'opcaoEstadoCep'])"
                    *ngIf="formulario?.get('cepDe','cepAte', 'opcaoEstadoCep').value">
                    Limpar
                  </button>

                  <div class="div-cep col-md-12 col-sm-12">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                      <app-input-material class="camposDeAte  col-md-12 col-sm-12 col-xs-12"
                        [placeholder]="'De'"
                        [control]="formulario?.get('cepDe')"
                        [typeInput]="'text'"
                        [nomeCampoControl]="'cepDe'"
                        [exibeCampoInvalido]="true"
                        [textoCampoInvalido]="'CEP inválido'"
                        [exibeCampoObrigatorio]="true"
                        [textoCampoObrigatorio]="'Campo de CEP obrigatório'"
                        [mascara]="CEP_MAKS">
                      </app-input-material>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-3">
                      <app-input-material class="camposDeAte col-md-12 col-sm-12 col-xs-12"
                        [placeholder]="'Até'"
                        [control]="formulario?.get('cepAte')"
                        [typeInput]="'text'"
                        [nomeCampoControl]="'cepAte'"
                        [exibeCampoInvalido]="true"
                        [textoCampoInvalido]="'CEP inválido'"
                        [exibeCampoObrigatorio]="true"
                        [textoCampoObrigatorio]="'Campo de CEP obrigatório'"
                        [mascara]="CEP_MAKS">
                      </app-input-material>
                    </div>
                  </div>

                </div>

                <div class="camposEstadoCep" *ngIf="formulario?.get('opcaoEstadoCep').value === 'UNIDADE_CIEE'">

                  <button class="btn btn-link pull-right" type="button" (click)="cleanFilters(['mostrarUnidadeCiee'])"
                    *ngIf="formulario?.get('mostrarUnidadeCiee')?.value">
                    Limpar
                  </button>

                  <div class="div-estado col-md-12 col-sm-12">
                    <div class="col-md-4 col-sm-4">
                      <app-form-group class="camposEstadoMunicipioUnidade" fieldId="envio-lote"></app-form-group>
                      <app-multi-select-material
                      [opcoes]="opcoesUnidadeCiee"
                      [placeholder]="'Selecione a unidade'"
                      [control]="formulario?.get('mostrarUnidadeCiee')">
                      </app-multi-select-material>
                    </div>
                  </div>


                </div>

              </div>
            </div>
          </div>

        </form>
