<app-acordeon *ngIf="form" [titulo]="'Dados complementares'" [expandido]="editMode">

  <div class="row">
    <div class="col-xs-12" *ngIf="canEdit">
      <app-botao-editar-salvar [modoEditar]="editMode" (editando)="onEditando()" (cancelado)="onCancel()"
        (alterado)="onConfirm()">
      </app-botao-editar-salvar>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-5">
      <app-form-group [control]="form.get('multiCompany')" label="Multi empresa? *">
        <app-boolean-radio-buttons [formControl]="form.get('multiCompany')"
          name="company-contract-complementary-data-multi-company" [readonly]="!editMode">
        </app-boolean-radio-buttons>
      </app-form-group>
    </div>
    <div class="col-xs-12 col-sm-5" *ngIf="form.get('multiCompany').value">
      <app-form-group [control]="form.get('allowIndependentProfessional')"
        label="Permite incluir empresa de profissional liberal? *">
        <app-boolean-radio-buttons [formControl]="form.get('allowIndependentProfessional')"
          name="company-contract-complementary-data-allow-independent-professional" [readonly]="!editMode">
        </app-boolean-radio-buttons>
      </app-form-group>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <app-form-group [control]="form.get('activity')" fieldId="company-contract-complementary-data-activity"
        label="Código atividade CIEE *">
        <span class="text-muted">&nbsp;&nbsp;(Informe parte da descrição da atividade CIEE)</span>
        <kendo-combobox class="form-control atividade" [formControl]="form.get('activity')" [data]="atividadesOpcoes"
          [readonly]="!editMode" [loading]="carregandoAtividades" [textField]="'label'" [valueField]="'value'"
          [valuePrimitive]="true" [filterable]="true" (valueChange)="alteraSetorDescricao($event)"
          (filterChange)="obterAtividades($event)">
          <kendo-combobox-messages clearTitle="Limpar item" noDataText="Nenhuma item encontrado">
          </kendo-combobox-messages>
        </kendo-combobox>
      </app-form-group>
    </div>
    <div class="col-xs-5 col-md-5">
      <app-form-group [control]="form.get('walletConsultant')" fieldId="company-contract-complementary-data-walletConsultant"
        label="Carteira/Consultor de atendimento">
        <kendo-combobox class="form-control atividade" [formControl]="form.get('walletConsultant')" [data]="carteiraOpcoes"
          [readonly]="!editMode" [textField]="'label'" [valueField]="'value'" [filterable]="true" [valuePrimitive]="true"
          (filterChange)="buscarCarteiras($event)">
          <kendo-combobox-messages noDataText="Nenhuma item encontrado">
          </kendo-combobox-messages>
        </kendo-combobox>
      </app-form-group>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-7">
      <app-form-group [control]="form.get('economicActivityDescription')"
        fieldId="company-contract-complementary-data-economic-activity-description"
        label="Descrição da atividade econômica da empresa">
        <input class="form-control" [formControl]="form.get('economicActivityDescription')"
          id="company-contract-complementary-data-economic-activity-description" [readonly]="!editMode" type="text" />
      </app-form-group>
    </div>

    <div class="col-xs-12 col-md-5">
      <app-form-group [control]="form.get('economicSector')"
        fieldId="company-contract-complementary-data-economic-sector" label="Setor econômico">
        <input class="form-control" [formControl]="form.get('economicSector')"
          id="company-contract-complementary-data-economic-sector" [readonly]="!editMode" type="text" />
      </app-form-group>
    </div>
  </div>

  <div *ngIf="isCompanyTypePublic" class="row">
    <div class="col-xs-12 col-md-6">
      <app-form-group [control]="form.get('publicBodyType')" fieldId="company-contract-complementary-data-public-body"
        label="Classificação tipo de órgão público *">
        <app-public-body-type-selector [formControl]="form.get('publicBodyType')"
          fieldId="company-contract-complementary-data-public-body" [readonly]="!editMode">
        </app-public-body-type-selector>
      </app-form-group>
    </div>

    <div class="col-xs-12 col-md-6">
      <app-form-group [control]="form.get('publicBodyClassification')"
        fieldId="company-contract-complementary-data-public-body-classification" label="Classificação *">
        <app-public-body-classification-selector [formControl]="form.get('publicBodyClassification')"
          fieldId="company-contract-complementary-data-public-body-classification"
          [publicBodyType]="form.get('publicBodyType').value" [readonly]="!editMode">
        </app-public-body-classification-selector>
      </app-form-group>
    </div>
  </div>

  <div *ngIf="!form.get('multiCompany').value" class="row">
    <div class="col-xs-12 col-md-4">
      <app-form-group [control]="form.get('stateRegistration')"
        fieldId="company-contract-complementary-data-state-registration" label="Inscrição estadual">
        <input appOnlyNumber class="form-control" [formControl]="form.get('stateRegistration')"
          id="company-contract-complementary-data-state-registration" [disabled]="campoInscricaoEstadualDesabilitado"
          [readonly]="!editMode" [maxlength]="stateRegistrationMaxlength" type="text" placeholder="Ex: 0001" min="0"
          onkeypress="return event.charCode >= 48" />
      </app-form-group>
    </div>

    <div class="col-xs-12 col-md-3">
      <app-switch-field #inscricaoEstadualIsento [formControl]="form?.get('freeStateRegistration')" [textoAtivo]="'Sim'"
        [textoInativo]="'Não'" [titulo]="'Isento de inscrição estadual?'">
      </app-switch-field>
    </div>

    <div class="col-xs-12 col-md-5">
      <app-form-group [control]="form.get('cityRegistration')"
        fieldId="company-contract-complementary-data-city-registration" label="Inscrição municipal">
        <input appOnlyNumber class="form-control" [formControl]="form.get('cityRegistration')"
          id="company-contract-complementary-data-city-registration" [readonly]="!editMode"
          [maxlength]="cityRegistrationMaxlength" type="text" placeholder="Ex: 0001" min="0"
          onkeypress="return event.charCode >= 48" />
      </app-form-group>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-4">
      <app-form-group
        [control]="form.get('contractDescription')"
        fieldId="company-contract-complementary-contract-description"
        label="Descrição">
        <textarea class="form-control"
          [formControl]="form.get('contractDescription')"
          id="company-contract-complementary-contract-description"
          rows="5"
          [readonly]="!editMode"
          [maxlength]="contractDescriptionMaxlength"
        ></textarea>
        <span class="character-counter">{{ contarCaracteres }}/{{ contractDescriptionMaxlength }}</span>
      </app-form-group>
      <app-tooltip-informativa class="tooltip-pp" [iniciarAberta]="false" [posicionamento]="'right'">
        <p>
          Este campo será utilizado para identificação do contrato empresa apenas para fins informativos.
        </p>
      </app-tooltip-informativa>
    </div>
  </div>

</app-acordeon>
