<div class="line"></div>

<div [ngClass]="{'tela-tamanho-minimo': filtroAbertoFlag}">
    <div class="col-md-6 col-sm-12">
        <app-filtro-avancado
            [placeholder]="'Selecione ao menos um filtro para consulta'"
            [disabled]="loading"
            [titulo]="'Buscar locais'"
            [formGrid]="formGrid"
            [labels]="labelsFiltro"
            [tagValor]="'label'"
            [tagValorInterno]="'value'"
            (filtrarGrid)="filtrar()"
            (filtroAberto)="filtrarAberto($event)">

            <form [formGroup]="formGrid" autocomplete="off" mobile-view role="search">
                <h1 class="titulo-filtro-avancado">Filtrar por:</h1>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 col-xs-12">
                            <div class="form-group row row-eq-height">
                              <label for="id-input" class="lbl-form col-md-4 col-xs-12">
                                  ID
                              </label>
                              <div class="col-md-8 col-xs-12">
                                  <input  class="form-control"
                                          formControlName="id"
                                          placeholder="Digite o ID"
                                          aria-label="ID"
                                          id="id-input"
                                          type="number" />
                              </div>
                            </div>
                            <div class="form-group row row-eq-height">
                                <label for="document-input" class="lbl-form col-md-4 col-xs-12">
                                    CNPJ/CPF
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    <input  class="form-control"
                                            formControlName="document"
                                            placeholder="Digite o CPF ou CNPJ"
                                            [textMask]="{mask: documentoMask, keepCharPositions: true, guide: false}"
                                            aria-label="CNPJ/CPF"
                                            id="document-input"
                                            type="text" />
                                </div>
                            </div>

                            <div class="form-group row row-eq-height">
                                <label for="razao-social-input" class="lbl-form col-md-4 col-xs-12">
                                    Nome/Razão
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    <input class="form-control" formControlName="contract"
                                        placeholder="Digite o nome" id="razao-social-input" aria-label="Razão/Nome"
                                        type="text" />
                                </div>
                            </div>

                            <div class="form-group row row-eq-height">
                                <label for="address-input" class="lbl-form col-md-4 col-xs-12">
                                    Endereço
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    <input class="form-control" formControlName="address"
                                        placeholder="Digite o Endereço" id="address-input" aria-label="Endereço"
                                        type="text" />
                                </div>
                            </div>

                            <div class="form-group row row-eq-height">
                                <label for="cep-input" class="lbl-form col-md-4 col-xs-12">
                                    CEP
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    <input class="form-control" formControlName="cep" placeholder="Digite o CEP"
                                        id="cep-input" aria-label="CEP" type="text" [textMask]="{ mask: mascaraCEP }" />
                                </div>
                            </div>

                            <div class="form-group row row-eq-height">
                                <label for="managementId" class="lbl-form col-md-4 col-xs-12">
                                    Gerência
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    <app-management-selector
                                        #gerenciaSelect
                                        formControlName="managementId"
                                        (managementSelected)="managementSelected($event)"
                                        fieldId="management-input">
                                    </app-management-selector>
                                </div>
                            </div>

                            <div class="form-group row row-eq-height">
                                <label for="cieeUnitIds" class="lbl-form col-md-4 col-xs-12">
                                    Unidade CIEE
                                </label>
                                <div class="col-md-8 col-xs-12">
                                    <kendo-multiselect
                                        class="form-control"
                                        [data]="filtroUnidadesCiee"
                                        [value]="opcoesUnidadeCieeSelecionadas"
                                        formControlName="cieeUnitIds"
                                        [textField]="'label'"
                                        [valueField]="'value'"
                                        (open)="onOpen()"
                                        [tagMapper]="tagMapper"
                                        [placeholder]="'Pesquisar unidades CIEE'"
                                        [filterable]="true"
                                        #multiSelectCiee
                                        (valueChange)="adicionarUnidadeCiee($event)">
                                        <ng-template kendoMultiSelectItemTemplate let-dataItem>
                                            <div class="input-form-search">
                                            <input
                                                type="checkbox"
                                                [attr.id]="'checkbox' + dataItem.value"
                                                class="k-checkbox"
                                                aria-label="Unidades CIEE"
                                                [checked]="dataItem.check"/>
                                                <label class="k-checkbox-label">
                                                    &nbsp;&nbsp;&nbsp;{{ dataItem.label }}
                                                </label>
                                            </div>
                                        </ng-template>
                                    </kendo-multiselect>
                                    <div class="row">
                                        <div  class="col-md-12 margin-top-20" *ngIf="opcoesUnidadeCieeSelecionadas && opcoesUnidadeCieeSelecionadas.length > 0">
                                            <div class="div-tag-box" *ngFor="let unidade of opcoesUnidadeCieeSelecionadas">
                                                <div class="tag-box" *ngIf="unidade.check">
                                                <span>
                                                    {{ unidade.label }}
                                                    <button (click)="removerUnidadeCiee(unidade)">X</button>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row row-eq-height">
                              <label for="razao-social-input" class="lbl-form col-md-4 col-xs-12">
                                Descrição do Local
                              </label>
                              <div class="col-md-8 col-xs-12">
                                  <input class="form-control" formControlName="descricaoLocal"
                                      placeholder="Digite a descrição do Local" id="razao-social-input" aria-label="Descrição do Local"
                                      type="text" />
                              </div>
                          </div>

                          <div class="form-group row row-eq-height">
                            <label for="carteira-input" class="lbl-form col-md-4 col-xs-12">
                                Carteira/Consultor
                            </label>
                            <div class="col-md-8 col-xs-12">
                                <input class="form-control" formControlName="carteiraConsultor" placeholder="Digite o id da Carteira"
                                    id="carteira-input" aria-label="Carteira/Consultor" type="number"  />
                            </div>
                        </div>
                     </div>
                    </div>
                </div>
            </form>
        </app-filtro-avancado>
    </div>
    <div class="col-md-12 grid-list">
        <app-grid
            [dados]="gridData"
            [carregando]="loading"
            (carregarDados)="filtrar($event)"
            (selecionarItem)="selecionarLocal($event)"
            (sortChange)="sortChange($event)"
            [detalheLinha]="detalheLinha"
            [mostrarDetalhe]="mostrarDetalhe"
            [tratamentoOrdenacao]="trataOrdenacao">

            <kendo-grid-column title="Locais de contrato" [media]="BreakpointMedia.MAX_SM">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <dl class="celula-responsiva">
                        <dt>ID</dt>
                        <dd>{{ dataItem?.id }}</dd>
                        <dt>CNPJ/CPF</dt>
                        <dd *ngIf="dataItem.cpf">{{ dataItem?.cpf | cpf }}</dd>
                        <dd *ngIf="dataItem.cnpj">{{ dataItem?.cnpj | cnpj }}</dd>
                        <dt>Nome/Razão social</dt>
                        <dd *ngIf="dataItem.name">{{ dataItem?.name }}</dd>
                        <dd *ngIf="dataItem.companyName">{{ dataItem?.companyName }}</dd>
                        <dt>Endereço completo</dt>
                        <dd>{{ dataItem?.address }} - {{ dataItem?.cep | cep }}</dd>
                        <dt>Situação</dt>
                        <dd>{{ dataItem?.status }}</dd>
                        <dt>Bloqueio</dt>
                        <dd>{{ dataItem?.blocked }}</dd>
                        <dt>Descrição do Local</dt>
                        <dd>{{ dataItem?.descricaoLocal }}</dd>
                        <dt>Id da carteira</dt>
                        <dd>{{ dataItem?.carteiraConsultor }}</dd>
                    </dl>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column [hidden]="!visualizarMaisColunas" [media]="BreakpointMedia.MIN_SM" [sortable]="false">
              <ng-template kendoGridHeaderTemplate let-dataItem>
                <button type="button" class="botao-visualizar-mais fa ciee-arrow-button-left-1" (click)="mudarVisualizacaoColunas()">
                </button>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
            [hidden]="visualizarMaisColunas" field="id" title="ID" [media]="BreakpointMedia.MIN_MD">
              <ng-template kendoGridCellTemplate let-dataItem>
                <span *ngIf="dataItem.id">{{ dataItem?.id }}</span>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
            [hidden]="visualizarMaisColunas" field="cpf" title="CNPJ/CPF" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span *ngIf="dataItem.cpf">{{ dataItem?.cpf | cpf }}</span>
                    <span *ngIf="dataItem.cnpj">{{ dataItem?.cnpj | cnpj }}</span>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
            [hidden]="visualizarMaisColunas" field="companyName" title="Nome/Razão social" [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span *ngIf="dataItem.name">{{ dataItem?.name }}</span>
                    <span *ngIf="dataItem.companyName">{{ dataItem?.companyName }}</span>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
            [hidden]="visualizarMaisColunas"
                field="address"
                title="Endereço completo"
                [media]="BreakpointMedia.MIN_MD">
                <ng-template kendoGridCellTemplate let-dataItem>
                    <span>{{ dataItem?.address }} - {{ dataItem?.cep | cep }}</span>
                </ng-template>
            </kendo-grid-column>

            <kendo-grid-column
            [hidden]="visualizarMaisColunas"
                field="status"
                title="Situação"
                [media]="BreakpointMedia.MIN_MD">
            </kendo-grid-column>

            <kendo-grid-column
            [hidden]="visualizarMaisColunas"
                field="blocked"
                title="Bloqueio"
                [media]="BreakpointMedia.MIN_MD">
            </kendo-grid-column>
            <kendo-grid-column
            [hidden]="!visualizarMaisColunas"
            field="descricaoLocal"
            title="Descrição do Local"
            [media]="BreakpointMedia.MIN_MD">
            <ng-template kendoGridCellTemplate let-dataItem>
                <span>{{ dataItem?.descricaoLocal}}</span>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column
          [hidden]="!visualizarMaisColunas"
          field="carteiraConsultor"
          title="Carteira/Consultor"
          [media]="BreakpointMedia.MIN_MD">
          <ng-template kendoGridCellTemplate let-dataItem>
              <span>{{ dataItem?.carteiraConsultor}} - {{dataItem?.descricaoCarteira}} {{dataItem?.nomeAssistente}}</span>
          </ng-template>
        </kendo-grid-column>

      <kendo-grid-column [hidden]="visualizarMaisColunas" [media]="BreakpointMedia.MIN_SM" [sortable]="false">
        <ng-template kendoGridHeaderTemplate let-dataItem>
          <button type="button" class="botao-visualizar-mais fa ciee-arrow-button-right-1" (click)="mudarVisualizacaoColunas()">
          </button>
        </ng-template>
      </kendo-grid-column>
        </app-grid>
    </div>
</div>

<ng-template #detalheLinha let-dataItem="dataItem">
    <div class="row-detalhe">
        <div class="col-detalhe-xs-12 col-detalhe-md-4"><strong>Unidade original:</strong> {{ dataItem?.cieeUnitDescription }}</div>
        <div class="col-detalhe-xs-12 col-detalhe-md-4"><strong>Unidade local:</strong> {{ dataItem?.descricaoUnidadeCieeLocal }}</div>
        <div (click)="selecionarLocal(dataItem)" class="col-detalhe-xs-12 col-detalhe-md-2">Detalhes</div>
        <div (click)="redirecionarBloqueios(dataItem)" class="col-detalhe-xs-12 col-detalhe-md-2">Gerenciar bloqueio</div>
    </div>
</ng-template>
