@import 'src/app/shared/styles/variables';

::ng-deep {
  ngx-datatable {
    width: 100%;
  }
}

.ciee-table {
  padding-top: 25px;
}

.abrir-vaga button {
  padding-left: 16px;
  padding-right: 16px;
  border-color: initial;
  font-size: 14px;
  font-weight: 600;
}
