  <div class="text-right page-title-multiple-buttons-container mr-1">
    <span>
      <app-company-contract-context-menu-button></app-company-contract-context-menu-button>
    </span>
  </div>

<app-cabecalho-pagina [botaoVoltar]="true">
</app-cabecalho-pagina>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <ng-container *ngIf="!isLoadingContract && !!contract">
        <app-company-contract-header
          [canEdit]="false"
          [model]="contract"
          [showId]="true"
        ></app-company-contract-header>

        <app-company-contract-revenue-service-info
          class="large-margin-top"
          [model]="contract"
        ></app-company-contract-revenue-service-info>
      </ng-container>

      <form
        *ngIf="filters && totalRegistros > page.size"
        [formGroup]="filters"
        novalidate
        (submit)="onSubmitFilters($event)"
      >
        <div class="row">
          <div class="col-xs-6">
            <app-form-group
              [control]="filters.get('address')"
              fieldId="company-contract-place-filter-address"
              label="Endereço"
            >
              <input
                appTrim
                class="form-control"
                [formControl]="filters.get('address')"
                id="company-contract-place-filter-address"
                [maxlength]="addressMaxlength"
                type="text"
              />
            </app-form-group>
          </div>

          <div class="col-xs-6">
            <app-form-group
              [control]="filters.get('cieeUnitId')"
              fieldId="company-contract-place-filter-ciee-unit-id"
              label="Unidade"
            >
              <app-ciee-unit-selector
                [formControl]="filters.get('cieeUnitId')"
                id="company-contract-place-filter-ciee-unit-id"
                [showLabelId]="true"
              ></app-ciee-unit-selector>
            </app-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <app-form-group
              [control]="filters.get('managementId')"
              fieldId="company-contract-place-filter-management-id"
              label="Gerência"
            >
              <app-management-selector
                [formControl]="filters.get('managementId')"
                fieldId="company-contract-place-filter-management-id"
              ></app-management-selector>
            </app-form-group>
          </div>

          <div class="col-xs-6">
            <app-form-group
              [control]="filters.get('status')"
              fieldId="company-contract-place-filter-status"
              label="Situação"
            >
              <app-single-select
                [control]="filters.get('status')"
                id="company-contract-place-filter-status"
                [options]="statusOptions"
              ></app-single-select>
            </app-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-6">
            <app-form-group
              [control]="filters.get('document')"
              fieldId="company-contract-place-filter-document"
              label="CPF / CNPJ"
            >
              <input
                appOnlyNumber
                appTrim
                class="form-control"
                [formControl]="filters.get('document')"
                id="company-contract-place-filter-document"
                [maxlength]="documentMaxlength"
                type="text"
              />

              <span class="helper-block">apenas números</span>
            </app-form-group>
          </div>

          <div class="col-xs-6">
            <app-form-group
              [control]="filters.get('name')"
              fieldId="company-contract-place-filter-name"
              label="Nome / Razão social"
            >
              <input
                appTrim
                class="form-control"
                [formControl]="filters.get('name')"
                id="company-contract-place-filter-name"
                [maxlength]="nameMaxlength"
                type="text"
              />
            </app-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-3">
            <app-form-group
              [control]="filters.get('blocked')"
              fieldId="company-contract-place-filter-blocked"
              label="Bloqueio"
            >
              <app-boolean-radio-buttons
                [formControl]="filters.get('blocked')"
                name="company-contract-place-filter-blocked"
              ></app-boolean-radio-buttons>
            </app-form-group>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-primary pull-right" type="submit">
              Pesquisar
            </button>

            <button
              class="btn btn-link pull-right"
              type="button"
              (click)="cleanFilters()"
            >
              Limpar
            </button>
          </div>
        </div>
      </form>

      <div class="margin-top-20">
        <app-grid-gerenciar-locais
          *ngIf="!isLoadingContract && !!contract"
          [isLoading]="isLoadingPlaces"
          [gridData]="gridData"
          [pagina]="page"
          [contratoId]="idContrato"
          [podeDeletarLocaisDeContrato]="podeDeletarLocaisDeContrato"
          (deletarLocalEmit)="onRemove($event)"
          (enviarBuscaEmit)="fetchPlaces($event)">
        </app-grid-gerenciar-locais>
      </div>

      <app-alert-error
        [show]="!!errorMessage"
        [(message)]="errorMessage"
      ></app-alert-error>

    </div>
  </div>
</div>

